[submodule "vim/bundle/vim-numbertoggle"]
	path = vim/bundle/vim-numbertoggle
	url = https://github.com/jeffkreeftmeijer/vim-numbertoggle.git
[submodule "scm_breeze"]
	path = scm_breeze
	url = https://github.com/ndbroadbent/scm_breeze.git
[submodule "fzf"]
	path = fzf
	url = https://github.com/junegunn/fzf.git
